<link rel="stylesheet" href="/css/forgot_password.css" />
<div id="reset">
  <form action="/users/create_unique_key" method="POST">
    <input type="email" name="email" placeholder="Enter your email" />
    <button type="submit">Submit</button>
  </form>
</div>
