#footer {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  position: fixed;
  bottom: 0;
  background-color: #4834c9;
  width: 100%;
  #footer-content {
    margin-top: 0.5rem;
    color: white;
    font-family: sans-serif;
  }
}
